html body {
    margin: 0%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

@font-face {
    font-family: FloodFont;
    src: url(./floodfont/Flood.ttf);
    font-weight: bold;
}

.header {
    margin-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.title-heading {
    width: 45%;
    display: flex;
    flex-direction: column;
}

.title-heading>div {
    position: relative;
    top: 12%;
    font-family: Helvetica;
    font-weight: bold;
    color: #354463;
}

.navigation-class {
    width: auto;
}

.navigation-class>ul {
    display: flex;
    flex-direction: column;
    margin: 0%;
    line-height: 150%;
    list-style: none;
}

.navigation-class>ul a {
    text-decoration: none;
    font-family: Helvetica;
    font-weight: lighter;
    color: #354463;
}

.donate-button {
    width: 100%;
    text-align: center;
}

.button {
    background-color: #c1f7d5;
    border: none;
    color: #354463;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    font-family: Helvetica;
    font-weight: bold;
    position: relative;
    top: 8%
}

.button-1 {
    width: 100%;
    padding: 3%;
    border-radius: 50px;
}

.section-1-image {
    position: relative;
    height: 32rem;
    margin-top: 6%;
    background-image: url("./home/component.png");
    background-size: cover;
}

.section-1-text {
    padding-left: 5%;
    color: white;
}

.section-1-text>div {
    font-family: FloodFont;
    font-size: 3em;
    line-height: 1em;
}

.section-1-text-2 {
    z-index: 3;
    text-align: center;
    width: 45%;
    height: 40px;
    background-color: #354463;
    position: absolute;
    top: 52%;
    left: 27%;
    bottom: 42%;
}

.section-1-text-2 p {
    position: relative;
    bottom: 15%;
    font-size: 1.1rem;
    font-family: Helvetica;
    color: white;
}

.section-1-text-3 {
    width: 90%;
    position: relative;
    bottom: -25%;
    left: 5%;
    right: 5%;
    height: 35%;
    background-color: white;
}

.section-1-text-3 p {
    text-align: center;
    position: relative;
    top: 20%;
}

.section-1-text-3 p:first-child {
    font-family: Helvetica;
    font-weight: bold;
    color: #354463;
}

.section-2 {
    position: relative;
    width: 100%;
    background-color: #C1F7D5;
}

.section-2-text {
    width: 50%;
    max-width: 200px;
    height: 40px;
    align-self: center;
    background-color: #354463;
    ;
    position: relative;
    transform: translate(50%, -50%);
    display: flex;
    justify-content: space-around;
}

.section-2-text p {
    align-self: center;
    color: white;
}

.section-2-flex {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.section-2-text-1 {
    padding-left: 5%;
    padding-right: 5%;
    width: 50%;
    align-self: center;
    position: relative;
    color: #354463;
}

.section-2-text-1 p {
    color: #354463;
    align-self: center;
}

.section-3 {
    background-color: #354463;
    box-sizing: border-box;
    padding: 1em 8.51%;
    display: grid;
    grid-template-rows: .5fr 1fr 1fr 1fr;
    grid-gap: 5em;
}

.section-3-text {
    margin: 0 auto;
    text-align: center;
}

.section-3-text-1 {

    background-color: white;
    width: 50%;
    height: 40px;
    transform: translate(50%, 0%);
}

.section-3-text-1 p {
    color: #354463;
    position: relative;
    top: 25%;
}

.section-3-text-2 {
    width: 95%;
}

.section-3-text-2 h1 {
    color: white;
}

.section-3-image {
    background-color: white;
}

.section-3-image img {
    width: 70%;
    position: relative;
    transform: translate(22%, -20%);
}

.section-3-text-3 {
    position: relative;
    top: -5%;
}

.section-3-text-3 h2 {
    color: #354463;
    font-size: 1.1rem;
    margin-top: 0px;
    padding-left: 15%;
}

.section-3-text-3 p {
    width: 80%;
    position: relative;
    left: 9%;
    color: #354463;
    font-weight: normal;
    text-align: center;

}

.section-3-button {
    width: 100%;
    text-align: center;
}

.button-2 {
    background-color: #c1f7d5;
    border: none;
    color: #354463;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    font-family: Helvetica;
    font-weight: bold;
    position: relative;
    left: 24%;
    margin-bottom: 1%;
}

.button-02 {
    width: 50%;
    padding: 3%;
    border-radius: 50px;
}

.section-4 {
    width: 100%;
    background-image: url("./home/did-you-know-background@3x.png");
    background-size: cover;
    height: 74em;
    transform: translateY(-5%)
}

.section-4-heading {
    width: 78%;
    color: white;
    font-family: FloodFont;
    font-size: 3em;
    line-height: 1em;
    padding-left: 5%;
    transform: translateY(30%);
}

.section-4-button {
    width: 100%;
    text-align: center;
    transform: translate(-20%, 100%)
}

.button-3 {
    background-color: #c1f7d5;
    border: none;
    color: #354463;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    font-family: Helvetica;
    font-weight: bold;
}

.button-03 {
    width: 50%;
    padding: 3%;
    border-radius: 50px;

}

.section-4-body {
    transform: translate(0%, 15%)
}

.section-4-card {
    width: 90%;
    background-color: white;
    padding-left: 5%;
    padding-right: 5%;
    transform: translateY(0%);
    position: relative;
    left: 5%;
    right: 5%;
}

.card-head {
    width: 65%;
    height: 40px;
    align-self: center;
    background-color: #354463;
    position: relative;
    transform: translate(30%, -50%);
    display: flex;
    justify-content: space-around;
}

.card-head p {
    font-family: Helvetica;
    align-self: center;
    color: white;
}

.section-4-card>h1 {
    font-family: Helvetica;
    color: #354463;
}

.section-4-card>p:last-child {
    font-family: Helvetica;
    color: #354463;
    transform: translate(0%, -98%);
    padding-right: 13%;
}

.card-icons {
    width: 30%;
    transform: translate(250%)
}

.twitter-icon {
    transform: translate(90%, -250%)
}

.facebook-icon {
    transform: translate(-10%, 0%)
}

.section-4-card-2 {
    width: 90%;
    background-color: white;
    padding-left: 5%;
    padding-right: 5%;
    transform: translateY(0%);
    position: relative;
    left: 5%;
    right: 5%;
}

.section-4-card-2>h1 {
    padding-top: 5%;
    font-family: Helvetica;
    color: #354463;
}

.section-4-card-2>p:last-child {
    font-family: Helvetica;
    color: #354463;
    transform: translate(0%, -98%);
    padding-right: 20%;
}

.card-icons-1 {
    width: 30%;
    transform: translate(250%)
}

.twitter-icon-1 {
    transform: translate(90%, -150%)
}

.facebook-icon-1 {
    transform: translate(-10%, 70%)
}

.section-5 {
    transform: translate(0%, 0%)
}

.section-5>.section-5-head-img .card-head {
    width: 50%;
    transform: translate(50%, 40%);
}

.section-5-head-img>img {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
}

.section-5-theme {
    width: 90%;
    position: relative;
    left: 5%;
    right: 5%;
    text-align: center;
    color: white;
    background-color: #354463;
    padding-top: 5%;
    padding-bottom: 5%;
}

.section-5-theme>p {
    font-size: 0.9em;
}

.section-5-button {
    width: 100%;
    text-align: center;
    transform: translate(0%, 68%);
}

.button-5 {
    background-color: #c1f7d5;
    border: none;
    color: #354463;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    cursor: pointer;
    font-family: Helvetica;
    font-weight: bold;
}

.button-05 {
    margin: 0 auto;
    width: 50%;
    padding: 3%;
    border-radius: 50px;
}

.section-6 {
    position: relative;
    height: 1800px;
    width: 100%;
    background-color: #354463;
}

.float-quote {

    position: relative;
    top: 70px;
    color: white;
    text-align: center;
    font-family: FloodFont;
    line-height: 50px;
    font-size: 32px;
    height: 192px;
    width: 80%;
    left: 10%;
}

.news-section-1 {
    position: relative;
    height: 640px;
    top: 0%;
}

.white-event-main-box {
    position: relative;
    top: 142px;
    height: 312px;
    width: 80%;
    background-image: url("./home/tree-planting.png");
    background-size: cover;
    left: 10%;
}

.white-little-box {
    position: relative;
    height: 40px;
    width: 48%;
    background-color: white;
    color: #354463;
    text-align: center;
    left: 25%;
    top: -20px;
}

.news-heading {
    position: relative;
    top: 167px;
    text-align: center;
    left: 10%;
    font-family: helvetica;
    font-weight: bold;
    height: 66px;
    width: 80%;
    color: white;
}

.news-discription {
    position: relative;
    height: 128px;
    width: 80%;
    top: 187px;
    left: 10%;
    text-align: center;
    font-family: helvetica;
    font-weight: lighter;
    color: white;
}

.news-read-more-button {
    position: relative;
    background-color: #C1F7D5;
    border: none;
    color: #354463;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    height: 50px;
    width: 40%;
    border-radius: 50px;
    top: 226px;
    left: 30%;
}

.white-latest-news-box {
    position: relative;
    top: 305px;
    height: 312px;
    width: 80%;
    background-image: url("./home/meeting.png");
    background-size: cover;
    left: 10%;
}

.white-news-box {
    position: relative;
    height: 40px;
    width: 48%;
    background-color: white;
    color: #354463;
    text-align: center;
    left: 25%;
    top: -20px;
}

.news-section-2 {
    height: 640px;
    position: relative;
    top: -3%;
}

.news-heading-2 {
    position: relative;
    top: 320px;
    text-align: center;
    left: 10%;
    font-family: helvetica;
    font-weight: bold;
    height: 66px;
    width: 80%;
    color: white;
}

.news-discription-2 {
    position: relative;
    height: 128px;
    width: 80%;
    top: 340px;
    left: 10%;
    text-align: center;
    font-family: helvetica;
    font-weight: lighter;
    color: white;
}

.news-read-more-button-2 {
    position: relative;
    background-color: #C1F7D5;
    border: none;
    color: #354463;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    height: 50px;
    width: 40%;
    border-radius: 50px;
    top: 387px;
    left: 30%;
}

.subscription-main-box {
    position: relative;
    height: 240px;
    width: 100%;
    background-color: #C1F7D5;
    margin-top: -6.2%;

}

.subscribe-discription {
    position: relative;
    height: 75px;
    width: 80%;
    text-align: center;
    font-family: Helvetica;
    font-weight: bold;
    color: #354463;
    top: 36px;
    left: 10%;
    font-size: 20px;
}

.subscribe-button {
    position: relative;
    background-color: #354463;
    border: none;
    color: #C1F7D5;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    height: 40px;
    width: 30%;
    border-radius: 50px;
    top: 109px;
    left: 65%;
}

.input-box {
    position: relative;
    background-color: white;
    border: none;
    color: #354463;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    height: 40px;
    width: 55%;
    border-radius: 50px;
    top: 70px;
    left: 5%;
}


.theme-class {
    width: 100%;
}

.theme-class-2 {
    width: 100%;
}

.earth-day-class {
    font-family: Helvetica;
    font-weight: Bold;
    text-align: center;
    color: white;
    padding-left: 5%;
    padding-right: 5%;
}

.earth-day-class-2 {
    font-family: Helvetica;
    font-weight: Bold;
    text-align: center;
    color: white;
    padding-left: 5%;
    padding-right: 5%;
}

.para-class {
    padding-left: 5%;
    padding-right: 5%;
    font-family: Helvetica;
    font-weight: normal;
    text-align: center;
    color: white;
}

.para-class-2 {
    padding-left: 5%;
    padding-right: 5%;
    font-family: Helvetica;
    font-weight: normal;
    text-align: center;
    color: white;
}

.button-class {
    margin: 0 auto;
    width: 100%;
    align-self: center;
}

.btn {
    background-color: #c1f7d5;
    border: none;
    color: #354463;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    cursor: pointer;
    font-family: Helvetica;
    font-weight: bold;

}

.btn1 {
    margin: 0 auto;
    width: 50%;
    padding: 3%;
    border-radius: 50px;
}

.btn2 {
    position: relative;
    margin-bottom: 0%;

}

.section-7-subscribe {
    padding-left: 5%;
    padding-right: 5%;
    background-color: #C1F7D5;
    padding-top: 1em;
    padding-bottom: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section-7-subscribe>h2 {
    color: #354463;
    margin-top: 0.5em;
    width: 100%;
}

.email {
    padding-left: 0%;
    width: 55%;
}

.bttn-1 {
    background-color: white;
    border: none;
    color: #354463;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 12px;
    cursor: pointer;
    font-family: Helvetica;
    font-weight: bold;
    border-radius: 50px;
    padding: 8%;
}

.sub-button {
    padding-right: 0%;
    width: 40%;
    background-color: #C1F7D5;
    border-radius: 50px;
}

.bttn-2 {
    border: none;
    background-color: #354463;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 14px;
    cursor: pointer;
    font-family: Helvetica;
    font-weight: bold;
    padding: 6%;
}

.button-7 {
    background-color: #354463;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    cursor: pointer;
    font-family: Helvetica;
    font-weight: bold;
}

.button-07 {
    width: 100%;
    padding: 10%;
    border-radius: 50px;

}

footer {
    padding-top: 2em;
    padding-bottom: 2em;
    padding-right: 8.5%;
    padding-left: 8.5%;
    display: grid;
    grid-template-rows: 1fr 1fr auto;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    grid-gap: 2em;
}

footer>div {
    max-width: fit-content;
}

.footer-title {
    color: #354463;
}

.contact {
    padding-left: 1.5em;
    font-size: 14px;
}

.contact>p {
    color: #354463;
}

.learn {
    padding-left: 1.5em;
}

.follow {
    padding-left: 0em;
}

footer>.head {
    font-size: 11px;
}

.follow>p {
    color: #354463;
}

.follow>ul {
    color: #354463;
    padding-left: 0%;
    list-style: none;
}

.learn>p {
    color: #354463;
}

.learn>ul {
    padding-left: 0%;
    list-style: none;
}

footer>ul>a {

    color: #354463;
    font-size: 14px;
    color: #354463;
}

.logo {
    grid-column: 2;
}

.logo>p {
    color: #354463;
    margin-top: 0.1em;
    font-family: FloodFont;
    font-size: 39px;
    line-height: 44px;
}

/* for tab view */
@media only screen and (min-width:500px) and (max-width:960px) {

    .title-heading>div {
        font-size: 1.2em;
    }

    .navigation-class {
        order: 3;
        height: auto;
        width: 100%;
        position: relative;
        top: 6%;
    }

    .donate-button {
        position: absolute;
        top: 4.5%;
        right: 5%;
        width: 30%;
        order: 2;
    }

    .navigation-class>ul {
        flex-direction: row;
        position: relative;
        left: -11%;
    }

    .navigation-class>ul li {
        display: inline;
        padding: 3%;
    }

    .section-1-image {
        margin-top: 1%;
        width: 100%;
        background-image: url("./home/annie-spratt-135307-unsplash.png");
        background-size: cover;
        background-position-x: 95%;
    }

    .section-1-text {
        position: relative;
        top: 10%;
    }

    .section-1-text-2 {
        width: 20%;
        position: absolute;
        top: 45%;
        left: 15%;
    }

    .section-1-text-2 p {
        font-size: 1rem;
    }

    .section-1-text-3 {
        text-align: left;
        height: 45%;
        position: relative;
        top: 12%;
    }

    .section-1-text-3 p {

        padding-left: 10%;
        padding-right: 5%;
        text-align: left;
    }

    .section-1-text-3 p:first-child {
        font-size: 2rem;
    }

    .section-2-text {
        transform: translate(140%, -50%);
    }

    .section-3-text-1 {
        transform: translate(-10%, 0);
    }

    .section-3-text-2 {
        text-align: left;
        transform: translate(-7%, 0%);
    }

    .section-3-image img {
        width: 40%;
    }

    .section-3-text-3 {
        transform: translate(40%, -55%)
    }

    .section-3-text-3>h2 {

        width: 50%;
        text-align: left;
    }

    .section-3-text-3>p {
        width: 45%;
        padding-left: 6%;
        padding-right: 2%;
        text-align: left;
    }

    .button-2 {
        position: relative;
        transform: translate(0%, -520%);
    }

    .button-02 {
        padding: 1%;
        width: 20%;
        height: 20% 10%;
    }

    .section-4 {
        height: 56em;
    }

    .section-4-heading {
        width: 20%;
    }

    .section-4-button {
        width: 50%;
    }

    .section-4-body {
        transform: translate(95%, -34%);
        width: 50%;
    }

    .section-5-head-img>img {
        width: 85%;
    }

    .section-5-theme {
        transform: translate(27%, -35%);
        width: 70%;
    }

    .section-5-theme>h1 {
        text-align: left;
    }

    .section-5>.section-5-head-img .card-head {
        width: 20%;
    }

    .section-5-button {
        width: 50%;
        text-align: center;
        transform: translate(22%, -110%);
    }

    .section-6 {
        position: relative;
        height: 1800px;
        width: 100%;
        background-color: #354463;
        height: 1228px;
        margin-top: -6%;
    }

    .float-quote {
        position: relative;
        height: 90px;
        width: 80%;
    }

    .news-section-1 {
        height: 460px;

    }

    .white-little-box {
        position: relative;
        height: 40px;
        width: 160px;
        background-color: white;
        color: #354463;
        text-align: center;
        left: 52%;
        top: 0px;
    }

    .white-event-main-box {
        height: 280px;
        width: 35%;
    }

    .white-little-box {
        left: 130%;
    }

    .news-heading {
        height: 160px;
        width: 45%;
        font-size: 115%;
        top: -100px;
        left: 53%;
        text-align: start;
    }

    .news-discription {
        height: 170px;
        width: 35%;
        top: -150px;
        left: 53%;
        text-align: start;
    }

    .news-read-more-button {
        left: 53%;
        top: -140px;
        width: 160px;
    }

    .news-section-2 {
        height: 460px;
        top: -7%;

    }

    .white-news-box {
        position: relative;
        height: 40px;
        width: 160px;
        background-color: white;
        color: #354463;
        text-align: center;
        left: -5%;
        top: 0px;
    }

    .white-latest-news-box {
        height: 280px;
        width: 35%;
        left: 53%;
    }

    .white-news-box {
        left: -120%;

    }

    .news-heading-2 {
        height: 160px;
        width: 45%;
        font-size: 115%;
        top: 80px;
        left: 10%;
        text-align: start;
    }

    .news-discription-2 {
        height: 170px;
        width: 35%;
        top: 0px;
        left: 10%;
        text-align: start;
    }

    .news-read-more-button-2 {
        left: 10%;
        top: 20px;
        width: 160px;
    }

    .subscription-main-box {
        position: relative;
        margin-top: -2.7%;
    }

    .subscribe-discription {
        width: 55%;
        font-size: 18px;
        left: 7%;
        top: 50px
    }

    .input-box {
        top: 30px;
    }

    .subscribe-button {
        top: 65px;
    }

    .theme-class {
        grid-row: 2 / 4;
        grid-column: 2 / 3;
    }

    .section-6-event-class-2 {
        grid-row: 4 / 5;
        grid-column: 1 / 2;
    }

    .section-6-image-class-2 {
        grid-row: 4 / 6;
        grid-column: 2 / 3;
    }

    .theme-class-2 {
        grid-row: 5 / 6;
        grid-column: 1 / 2;
    }

    .footer {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr auto;
    }

    .contact>p {
        font-size: 14px;
    }

    .title {
        grid-row: span 2;
        font-size: 22px;
    }

    .logo {
        grid-column: 3;
    }

    .learn {
        grid-column: 2 / 3;
    }

    .bttn-1 {
        width: auto;
    }

    .bttn-2 {
        width: auto;
    }
}

/* for desktop view */
@media only screen and (min-width:961px) {
    .header {
        flex-wrap: nowrap;
        justify-content: space-evenly;
    }

    .title-heading {
        width: 33.33%;
    }

    .navigation-class {
        width: 65%;
    }

    .navigation-class ul {
        flex-direction: row;
        padding-left: 0%;
        position: relative;
        right: -20%;
        bottom: -4%;
    }

    .navigation-class>ul li {
        display: inline;
        padding: 4%;
    }

    .donate-button {
        width: 40%;
        text-align: center;
    }

    .button {
        right: -25%;
    }

    .button-1 {
        width: 50%;
        padding: 10px 24px;
        border-radius: 50px;
    }

    .section-1-image {
        margin-top: 1%;
        width: 100%;
        background-image: url("./home/annie-spratt-135307.png");
        background-size: cover;
        background-position-x: 25em;
        background-position-y: -10em;
    }

    .section-1-text {
        font-size: 1.3rem;
        position: relative;
        top: 20%;
        left: 55%;
    }

    .section-1-text-2 {
        width: 10%;
        position: absolute;
        top: 10%;
        left: 10%;
    }

    .section-1-text-2 p {
        font-size: 0.9rem;
    }

    .section-1-text-3 {
        text-align: left;
        width: 40%;
        height: 25em;
        position: relative;
        top: -30%;
    }

    .section-1-text-3 p {
        padding-left: 10%;
        padding-right: 5%;
        text-align: left;
    }

    .section-1-text-3 p:first-child {
        font-size: 2.1rem;
    }

    .section-2-text {
        transform: translate(300%, -50%);
    }

    .section-2-flex {
        flex-wrap: nowrap;
    }

    .section-3-text-1 {
        position: relative;
        left: -2%;
        width: 20%;
        transform: translate(-10%, 0);
    }

    .section-3-text-2 {
        text-align: left;
        transform: translate(-4%, 0%);
    }

    .section-3-image {
        padding: 0px;
        background-color: #FFFFFF;
        grid-template-rows: auto auto auto;
        grid-template-columns: unset;
        grid-gap: unset;
        width: 100%;
    }

    .section-3 {
        padding: 6em 11.11%;
        display: grid;
        grid-template-rows: .3fr .7fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 5em;
    }

    .section-3-image img {
        width: 90%;
    }

    .section-3-text {
        grid-column: span 3;
    }

    .section-3-text-3>h2 {
        text-align: left;
    }

    .section-3-text-3>p {
        position: relative;
        transform: translate(0, 10%);
        text-align: left;
    }

    .button-02 {
        position: relative;
        margin-bottom: 4%;

    }

    .section-4 {
        height: 54em;
    }

    .section-4-heading {
        width: 20%;
    }

    .section-4-button {
        width: 50%;
    }

    .section-4-body {
        transform: translate(95%, -34%);
        width: 50%;
    }

    .section-5 {
        margin-bottom: 23%;
    }

    .section-5-head-img>img {
        width: 55%;
    }

    .section-5-theme {
        position: absolute;
        margin-top: 0%;
        transform: translate(0%, -135%);
        width: 50%;
    }

    .section-5-theme>h1 {
        text-align: left;
    }

    .section-5>.section-5-head-img>img {
        transform: translate(82%, 0%)
    }

    .section-5>.section-5-head-img .card-head {
        z-index: 2;
        position: relative;
        right: -46%;
        width: 15%;
    }

    .section-5-button {
        position: absolute;
        width: 40%;
        text-align: center;
        transform: translate(0%, -100%);
    }

    .section-6 {
        position: relative;
        height: 1300px;
        transform: translateY(-12%);
    }

    .white-event-main-box {
        height: 400px;
        width: 40%;
    }

    .white-little-box {
        left: 115%;
        width: 150px;
        height: 30px;
        top: 0%;
    }

    .news-heading {
        height: 160px;
        width: 35%;
        font-size: 115%;
        top: -35%;
        left: 55%;
        text-align: start;
    }

    .news-discription {
        font-size: 100%;
        height: 170px;
        width: 35%;
        top: -42%;
        left: 55%;
        text-align: start;
    }

    .news-read-more-button {
        left: 55%;
        top: -280px;
        width: 130px;
        height: 30px;
    }

    .news-section-2 {
        height: 570px;
        top: -20%;

    }

    .white-news-box {
        position: relative;
        height: 30px;
        width: 150px;
        background-color: white;
        color: #354463;
        text-align: center;
        left: -5%;
        top: 0px;
    }

    .white-latest-news-box {
        height: 400px;
        width: 40%;
        left: 53%;
    }

    .white-news-box {
        left: -105%;

    }

    .news-heading-2 {
        height: 160px;
        width: 45%;
        font-size: 115%;
        top: -10%;
        left: 10%;
        text-align: start;
    }

    .news-discription-2 {
        height: 170px;
        width: 35%;
        top: -23%;
        left: 10%;
        text-align: start;
    }

    .news-read-more-button-2 {
        height: 30px;
        width: 140px;
        left: 10%;
        top: -130px;
    }

    .subscription-main-box {
        position: relative;
        margin-top: -15.5%;
    }

    .subscribe-discription {
        width: 30%;
        font-size: 18px;
        left: 7%;
        top: 50px
    }

    .input-box {
        position: relative;
        width: 30%;
        top: -50px;
        left: 40%;
    }

    .subscribe-button {
        width: 20%;
        left: 75%;
        top: 0%;
    }


    footer {
        display: flex;
        justify-content: space-between;
    }

    .contact>p {
        font-size: 14px;
    }

    .head {
        font-size: 14px;
    }

    .line-sep {
        display: block;
    }

    .title {
        grid-row: unset;
        font-size: 22px;
        padding-right: 6em;
    }

    .logo {
        padding-left: 6em;
    }
}